.genres_container {
  width: 1100px;
  margin: auto;
}

.genre_btn {
  width: 155px;
  text-align: center;
  display: inline-block;
  background: rgb(5, 238, 16);
  border-radius: 30px;
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-right: 20px;
  color: rgb(20, 20, 20);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 500ms ease;
}

.genre_btn:hover {
  border-color: yellow;
  transform: scale(1.2);
}
